<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <servlet>
        <servlet-name>ImageCollage</servlet-name>
        <servlet-class>com.google.appengine.demos.ImageCollage.ImageCollageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.google.appengine.demos.ImageCollage.UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>serve</servlet-name>
        <servlet-class>com.google.appengine.demos.ImageCollage.ServeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageCollage</servlet-name>
        <url-pattern>/ImageCollage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>serve</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>

<welcome-file-list>
        <welcome-file>ImageCollage.jsp</welcome-file>
    </welcome-file-list>

</web-app>
